body, html {
    margin: 0;
    padding: 0;
    height: auto; /* Changed from 100% to auto to allow natural expansion */
    min-height: 100%; /* Ensure it at least covers the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the main axis */
}

.slideshow-container {
    width: 100vw; /* Full width */
    height: 50vh; /* Half of the viewport height */
    position: relative;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    background-position: center; /* Anchor image to the top */
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
    color: #ffffff;
    font-size: 2.5rem; /* Use 'rem' units for scalability */
    padding: 8px 12px;
    position: relative; /* Change from absolute to relative */
    width: 100%; /* Full width to help center the text */
    text-align: center; /* Center text horizontally */
    z-index: 10; /* Ensure text is above the image */
    margin-top: -120px; /* Optional: adjust according to your design needs */
}

.title {
    color: #000000;
    font-size: 2.5rem; /* Appropriately scaled font size */
    padding: 8px 12px; /* Padding to ensure spacing within the title */
    text-align: center; /* Centers the text */
    width: 100%; /* Ensures it spans the width of its container */
    margin-bottom: 20px; /* Adds space below the title */
}


.section {
    width: 100%; /* Full width to contain title and content */
    align-items: center; /* Center aligns items if using flexbox */
    display: flex; /* Using flexbox for layout */
    flex-direction: column; /* Stacks children vertically */
    margin-bottom: 40px; /* Space between sections */
}
.content {
    text-align: center;
    width: 80%;
    font-size: 1.5rem; /* Use 'rem' units for scalability */
    padding: 20px 0; /* Add padding for spacing between contents */
}

.fadeIn {
    animation: fadeInAnimation 1.5s;
}

@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}


.row {
    display: flex; /* Establishes a flex container */
    align-items: flex-start; /* Aligns items to the start of the cross axis */
    justify-content: space-between; /* Distributes space between the children */
    margin-bottom: 20px; /* Adds some space below each row */
}

.code-block, .text-block {
    flex: 1; /* Each child will take up equal space */
    padding: 10px; /* Adds padding inside the divs for spacing */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

pre {
    white-space: pre-wrap; /* Allows preformatted text to wrap */
    word-wrap: break-word; /* Breaks the text to prevent overflow */
    background-color: #f4f4f4; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    border-left: 3px solid #f36d33; /* Thick left border for emphasis */
    overflow: auto; /* Adds scrollbars if content overflows */
    max-height: 400px; /* Sets a fixed maximum height for the code block */
    padding: 15px; /* Adds padding */
    font-size: calc(1vw + 0.5em); /* Dynamically scale font size based on viewport width */
}

.code-block {
    max-width: 50%; /* Restricts code block to half of the container width */
    flex: 1; /* Ensures the code block scales with the container */
}

.text-block {
    max-width: 50%; /* Restricts text block to half of the container width */
    flex: 1; /* Ensures the text block scales with the container */
}

code {
    background: none; /* No background for the inner code element */
    border: none; /* No border for the inner code element */
    padding: 0; /* No padding needed here, it's handled by the pre element */
    font-family: monospace; /* Ensure monospace font for code readability */
    font-size: inherit; /* Inherit the font size from the parent element (pre) */
}
  

.image-row {
    display: flex; /* Establishes a flex container */
    flex-wrap: wrap; /* Allows items (images) to wrap onto the next line if needed */
    justify-content: center; /* Distributes space between the images */
    align-items: center; /* Align items to the top of the row */
    gap: 10px; /* Adds some space between the images */
}

.image-row img, .image-row div {
    width: calc(33.33% - 10px); /* Each image takes about 1/3 of the container width minus the gap */
    height: auto; /* Maintain aspect ratio */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.image-row-hover {
    display: flex; /* Establishes a flexbox container for images */
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 15px; /* Adds spacing between the image containers */
}


.normal-image {
    width: 100%;
    height: auto;
    display: block;
}

.hover-image {
    width: 100%;
    height: auto;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    top: 0;
    left: 0;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Smooth transition */
}

.hover-info {
    display: none; /* Ensure this is set to none initially */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 2em; /* Adjust font size as needed */
}

.image-container {
    position: relative; /* Makes it easier to overlay images */
    width: 30em; /* Set the width of each image container */
    height: auto; /* Maintain aspect ratio */
    display: inline-block; /* Display images in line */
    
}

.image-container:hover .hover-image {
    opacity: 1; /* Show the hover image on hover */
}

.image-container:hover .normal-image {
    opacity: 0; /* Hide the normal image on hover */
}

.image-container:hover .hover-info {
    display: flex; /* Show on hover */
}


.image-container-final {
    position: relative; /* Makes it easier to overlay images */
    width: 45em; /* Set the width of each image container */
    height: auto; /* Maintain aspect ratio */
    display: inline-block; /* Display images in line */
    
}

.image-container-final:hover .hover-image {
    opacity: 1; /* Show the hover image on hover */
}

.image-container-final:hover .normal-image {
    opacity: 0; /* Hide the normal image on hover */
}

.image-container-final:hover .hover-info {
    display: flex; /* Show on hover */
}


